---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About - Çağatay Sunal">
  <h1>About</h1>
  <p class="muted">
    I build software — and I care deeply about understanding it.
  </p>
  <p class="muted">
    I worked as an Android developer for two years, building production-grade
    B2B and internal apps with Java, Kotlin and particularly Flutter.
  </p>
  <p class="muted">
    I’m not satisfied with surface-level knowledge. If something works, it is
    not enough. I want to know why it works. I value mastering the fundamentals,
    minimalism and stability over chasing the latest trends.
  </p>
  <p class="muted">
    I prefer to set up my environment with minimalism and simplicity in mind.
    Extensions can be helpful, but they are ultimately a liability. I use the
    same minimalist approach when building my projects: <em
      >Do one thing, and do it well.</em
    >
  </p>
  <p class="muted">
    I constantly explore new technologies, but I am cautious about hype.
  </p>
  <p class="muted">
    I have more ideas than time. Perfectionism is a thing that I struggle with,
    which used to cripple me so much that I couldn't get started. Now I try to
    focus on shipping fast and iterating. Perfect software is useless if it is
    unreleased
  </p>
  <p class="muted">I love video games. One day, I’ll build one.</p>
</BaseLayout>
