---

---

<html lang="tr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1>Merhaba!</h1>
        <p>
            Ben Çağatay. Python, Rust, C ve bir çok farklı dille uğraşmayı
            seven, Linux kullanıcısı bir yazılım mühendisiyim. Yazılım
            güvenliği, Networking vb. alanlarda kendimi geliştiriyorum. Çok iyi
            olmayı hedefliyorum. Bu sitede projelerimi ve yeri geldikçe
            fikirlerimi ve görüşlerimi paylaşmayı düşünüyorum. Hepinize kolay
            gelsin.
        </p>
    </body>
</html>
